@using ReportViewerForMvc
@{
    ViewBag.Title = "Reporte de Productos | Mundo Tecnológico";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<style>
    #frmReporte {
        width: 100%;
        height: 720px;
    }
</style>

<div class="container contenedor_mantenimiento">
    <div class="row justify-content-center">
        <form class="form-inline">
            <div class="form-group my-2">
                <label for="estado">Estado</label>
            </div>
            <div class="form-group mx-3 my-2">
                <select class="custom-select" id="estado" name="estado">
                    <option selected value="0">Todos</option>
                    <option value="1">Activo</option>
                    <option value="2">Eliminado</option>
                </select>
            </div>
            <button class="btn btn-primary mb-2 my-2 pl-5 pr-5" type="button" onclick="verReporte()">Ver Reporte</button>
        </form>
    </div>
</div>

<div class="m-auto col-md-12">

    <iframe id="frmReporte" frameborder="0" scrolling="no">
    </iframe>

</div>

<script>
    function verReporte() {
        var estado = document.getElementById("estado").value;
        document.getElementById("frmReporte").setAttribute("src", "/Productos/MostrarReporte?estado=" + estado)
    }</script>


